<form [formGroup]="addressForm">
    <div class="row">
        <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Avenue, street" formControlName="address" required>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>House Number</mat-label>
            <input matInput placeholder="n 83" formControlName="houseNumber" required>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="São paulo" formControlName="city" required>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Zip code</mat-label>
            <input matInput placeholder="02411000" formControlName="zipCode" required>
        </mat-form-field>
    </div>
</form>
